body{
    padding-top: 5vh;
    background-image: linear-gradient(rgb(187, 187, 245),rgb(247, 213, 219));

}
#main{
    border-style:solid;
    height:fit-content;
    width:fit-content;
    background-color:aquamarine;
    padding: 4vh;
}
#operator{
    background-color:aquamarine;
    border-style: none;
    font-size: 4vh;
}
.questionbox{
    height:5vh;
    width:10vh;
    border-style: none;
    font-size: 3vh;
}
.answerbox{
    height:4vh;
    width:8vh;
    border-style: none;
    font-size: 3vh;
}
#startgame{
    height:10vh;
    width:20vh;
    border-style: none;
    font-style: 8vh;
    background-color:rgb(49, 143, 111);
    color:white;
    font-size: 5vh;
    text-align: center;
}
img{
    height:40vh;
    width:40vh;
}
#try-div{
     height: 50vh;
     width:50vh;
}
#tryagain{
    height:10vh;
    width:20vh;
    border-style: none;
    font-style: 8vh;
    background-color:black;
    color:white;
    font-size: 3vh;
    text-align: center;
}
